header {
    position: relative;
    height: 60px;
    border: 1px solid #ff0000;
}

header > nav > ul {
    position: absolute;
    list-style: none;;
    top: 12px;
    left: 518px;
    right: -18px;
    margin: auto;

}
header > nav > ul > li {
    display: inline-block;
    padding: 0 20px 0 10px;
}

header > nav > ul > li > a {
    text-decoration: none;
    color: #6f6f6f;
    transition: all 1s;
    font-size: 25px;

}

header > nav > ul > li > a:hover {
    color: red;
    transition: all 1s;
    font-size: 30px;

}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #767676;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#menu_mobile {
    display: none;
}

/*header CSS END*/
#backgroud_section {
    height:  1031px;
    background-image: url("../image/img1.jpg");
    background-size: cover;
    background-position: center;

}
#web_name{
    color: #f3f0f0;
   position:absolute;
    top:580px;
    right: 580px;
    font-size: 39px;

}
#name1:first-letter{
    color: #eec90a;
    font-size: 88px;

}
#name2:first-letter{
    color: #eec809;
    font-size: 88px;
     right: 5px;
}
#backgroud_section1 {
    margin: 5px;
    color: white;
    height:  1031px;
    background: url("../image/istockphoto-952039286-170667a.jpg");
    background-size: cover;
    background-position: center;
}
#name{
    font-family: Roboto;
    font-style: normal;
    font-size: 36px;

    top: 10px;
    right: 3px;
}

#img1{
    right: 78px;
    position: absolute;
}
#word{

position: absolute;

    font-size: 43px;
    font-style: normal;

    top: 1741px;
    right: 50px;
}
#word2{
    position: absolute;
    font-size: 34px;
    left: 351px;

    top: 1281px;
}
#icon{
    position: absolute;
    right: 55px;
    top: 1835px;
}
#icon1{

    right: 335px;
    top: -2px;
    position: absolute;
}
#icon2{
    position: absolute;
    right: 271px;
    top: -3px
}
#icon3{
    position: absolute;
    right: 206px;
    top: -4px;

}
#icon4{
   position: absolute;
    right: 137px;
    top: -5px;
}
#icon5{
    position: absolute;
    right: 72px;
    top: -5px
}
#icon6{
    position: absolute;
    right: 5px;
    top: -7px;
}
a:hover{
    color: red;
    transition: all 1s;
}
div>#icon2>a:hover{
    color: red;
    transition: all 1s;
}
div>#icon3>a:hover{
    color: red;
    transition: all 1s;
}
div>#icon4>a:hover{
    color: red;
    transition: all 1s;
}
div>#icon5>a:hover{
    color: red;
    transition: all 1s;
}
div>#icon6>a:hover{
    color: red;
    transition: all 1s;
}
#backgroud_section2 {
    height: 1031px;
    background-image: url("../image/istockphoto-952039286-170667a.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    top: -48px;
}

#name3{
    font-family: Roboto;
    font-style: normal;
    font-size: 36px;
color: white;
    top: 10px;
    right: 3px;
}
/*RESPONSIVE*/

@media all and (max-width: 425px) {
    #menu_mobile {

        display: flex;
    }

    header > nav {
        display: none;
    }

    #backgroud_section {
        height: 1117px;
        width: 943px;
        background-position: -31px
    }

    #web_name {
        color: #f3f0f0;
        position: absolute;
        top: 327px;
        right: -366px;
        font-size: 13px;

    }

    #name1:first-letter {
        color: #eec90a;
        font-size: 30px;

    }

    #name2:first-letter {
        color: #eec809;
        font-size: 37px;
        right: 5px;
    }
}

@media all and (min-width: 425px) and (max-width: 768px) {
    #menu_mobile {
        display: flex;
    }

    header > nav {
        display: none;
    }

    #backgroud_section {
        height: 459px;


    }
    #web_name{
        color: #f3f0f0;
        position:absolute;
        top: 244px;
        right: 183px;
        font-size: 18px;

    }
    #name1:first-letter{
        color: #eec90a;
        font-size: 38px;

    }
    #name2:first-letter{
        color: #eec809;
        font-size: 40px;
        right: 5px;
        top: 1px;
    }
}





@media all and (min-width: 768px) and (max-width: 1024px) {


    #backgroud_section {
        height: 557px;

    }
    header > nav > ul {
        top: 11px;
        left: 100px;

    }
    #web_name{
        color: #f3f0f0;
        position:absolute;
        top: 301px;
        right: 229px;
        font-size: 25px;

    }
    #name1:first-letter{
        color: #eec90a;
        font-size: 50px;

    }
    #name2:first-letter{
        color: #eec809;
        font-size: 64px;
        right: 5px;
    }

}


@media all and (min-width: 1024px) and (max-width: 1440px) {

    #backgroud_section {
        height: 790px;

    }
    header > nav > ul {
        right: 13px;
        left: 350px;
    }

}

@media all and (min-width: 1024px) and (max-width: 1440px) {

    #backgroud_section {
        height: 795px;

    }
    header > nav > ul {
        right: -18px;
        left: 235px;
    }
    #web_name{
        color: #f3f0f0;
        position:absolute;
        top: 415px;
        right: 377px;
        font-size: 27px;

    }
    #name1:first-letter{
        color: #eec90a;
        font-size: 88px;

    }
    #name2:first-letter{
        color: #eec809;
        font-size: 88px;
        right: 5px;
    }
}




